---
const { href, title, hexCode } = Astro.props;
---

<div
  class="flex-auto mb-10 pl-5 pr-5 transform-[rotate(-90deg)] items-center justify-center"
>
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="text-[#28282B] font-JetBrains-Mono text-center tracking-[5px] uppercase font-bold text-xs block"
    style={`--hover-color: ${hexCode}`}
    onmouseover="this.style.color = 'var(--hover-color)'"
    onmouseout="this.style.color = '#28282B'"
  >
    {title}
  </a>
</div>
