---
import NavbarLeftCopyright from "./navbarLeft-Copiright.astro";
import NavbarLeftItem from "./navbarLeft-Item.astro";
import NavbarLeftLine from "./navbarLeft-Line.astro";
---

<div
  id="navbar-left"
  class="w-[6%] h-screen py-2.5 px-1 flex-col items-start justify-start pt-[5%]"
>
  <NavbarLeftItem
    href="https://www.linkedin.com/in/marvin-leonel-rivas-trejo-97a581150/"
    title="LI"
    hexCode="#3A94C5"
  />
  <NavbarLeftItem href="#" title="TW" hexCode="#5C6A72" />
  <NavbarLeftItem
    href="https://github.com/Leonel0493"
    title="GH"
    hexCode="#DF69BA"
  />
  <NavbarLeftLine />
  <NavbarLeftCopyright />
</div>
