<div
  class="w-18 absolute top-auto bottom-[3vh] left-[0%] right-[0%] flex-auto pl-5 pr-3 transform-[rotate(-90deg)]"
>
  <div class="text-center text-[#28282B] tracking-[4px] text-xs font-medium">
    © 2025
  </div>
</div>
