---
import RightContainerLeftSection from "./rightContainer-LeftSection.astro";
import RightContainerLRightSection from "./rightContainer-RightSection.astro";
---

<div
  id="right-container"
  class="w-[94%] bg-[#FFE7DE] flex flex-row mx-auto pr-[5%] pl-[10%]"
>
  <RightContainerLeftSection />
  <RightContainerLRightSection />
</div>
