---
// * Props
const { displayName, url } = Astro.props;
---

<div
  class="opacity-[1] blur-[0px] text-right pl-[5%] mb-[7%] inline-block relative"
>
  <a
    href={url}
    class="z-10 text-[#28282B] uppercase font-Boldonse text-[8vw] font-light leading-[.95em] block relative"
    >{displayName}</a
  >
</div>
